.caret {
  position: relative;
  top: 12px;
}

.caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 4px solid var(--light-font);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.caret:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  border-top: 3px solid var(--background-color);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}