.sbb-channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;

  margin-bottom: 5px;
  border-radius: 5px;

  color: var(--medium-font);
  font-weight: 600;
}

.sbb-channel:hover {
  cursor: pointer;
  background: var(--tertiary-background-color);
  color: var(--light-font);
}

.sbb-channel:hover .sbb-channel-options-button {
  display: block;
}

.sbb-channel-options-button {
  display: none;
  width: 16px;
}

.sbb-channel-selected {
  background: var(--tertiary-background-color);
  color: var(--light-font);
}