.direct-message-main-master {
  background: var(--tertiary-background-color);
  display: flex;
  flex-grow: 1;
  padding-top: 10px;
  padding-left: 10px;
  max-height: calc(100vh - 140px);
  overflow: auto;

  // border: 1px solid black;
}

.direct-messages-title-text {
  padding-top: 10px;
}

.display-flex {
  display: flex;
  align-items: center;
}

.dm-closer {
  // border: 1px solid black;
  color: var(--medium-font);
  font-weight: 800;
  padding-right: 20px;
}

.dm-wrapper {
  width: 100%;
}

.dm-username {
  display: flex;
  padding-top: 5px;
  align-content: center;
  // border: 1px solid black;
}

.dm-functions {
  display: flex;
  padding-top: 5px;
  align-content: center;
}

.dm-header {
  height: 45px;
  margin-top: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  // border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.message-header {
  display: flex;
  padding-top: 10px;
}

.message {
  display: flex;
  // justify-content: space-between;
}

.conversation-view-master {
  background: var(--tertiary-background-color);
  flex-grow: 1;
  // border: 1px solid black;
  // display: flex;
  // flex-grow: 1;
  
}

.dm-footer-input {
  width: 100%;
  // border: 1px solid black;
  display: flex;
  justify-content: center;
}

.dm-footer-master {
  background: var(--tertiary-background-color);
  border-top: 1px solid rgba(0,0,0,0.2);
  z-index: 1;
  bottom: 0;
  // border: 2px solid black;
  height: 80px;
  width: calc(100% - 320px);
  display: flex;
  justify-content: center;
  // align-items: center;
  position: absolute;
}

.message-avatar {
  
}

.message-chain {
  // border: 1px solid black;
  width: 100%;
}

.message-header-spacer {
  margin-right: 48px;
}

.full-message-content {
  // border: 1px solid black;
  width: 100%;
}

.full-message {
  display: flex;
  width: 100%;
}

.timestamp-header {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}
.timestamp-header::before, .timestamp-header::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.timestamp-header::before {
    margin-right: .5em;
}
.timestamp-header::after {
    margin-left: .5em;
}

.message-content {
  width: 90%;
}

.message-box-input-label {
  width: 90%;
}

.message-box-input {
  background: var(--quaternary-background-color);
  border: none;
  margin-top:10px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  // width: 90%;
  // flex-grow: 1;
  width: 100%;
  padding-left: 10px;
  color: var(--light-font);
}

.message-timestamp {
  padding-left: 10px;
  // border: 1px solid black;
}