.friends-list-master {
  background: var(--tertiary-background-color);
  flex-grow: 1;
}

.start-new-message-popup {
  width: 450px;
  height: 400px;
  background: var(--tertiary-background-color);
  z-index: 2;

  box-shadow: 0px 0px 2px black;

  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 5px;
}

.snmp-friend-list {
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;

  height: 240px;

  overflow: auto;
}

.snmp-friend-list-wide {
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;

  height: 240px;
  width: 100%;

  overflow: auto;
}

.snmp-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

  margin: 5px;

  color: var(--dark-font);

  font-weight: 600;

  background: var(--primary-color);
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;

  
}

.snmp-button-div:hover {
  background: var(--secondary-color);
  color: var(--light-font);
}

.snmp-form-div {
  width: 100%;

  display: flex;
  align-items: center;

}

.snmp-input {
  border-radius: 5px;
  border: none;
  padding: 7px;
  background: var(--background-color);
  color: var(--light-font);
  flex-grow: 1;
}

.snmp-input::placeholder {
  color: var(--light-font);
}

.snmp-input-div {
  padding: 20px;
  padding-top: 0px !important;

  // border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.snmp-text-box {
  padding: 20px;
}

.snmp-text-box-title {
  color: var(--light-font);
  font-weight: 500;
}

.snmp-text-box-text {
  color: var(--light-font);
}

.flex-end {
  justify-content: flex-end;
}

.invisible-snmp-closer {
  z-index: 1;
  // background: green;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.start-new-message-popup-background {
  
  z-index: 2;
  position: absolute;
  top: 42px;
  // left: 20px;
  // right: 20px;
}

.new-message-icon {
  width: 22px;
  padding: 2px;
}

.smol-icon {
  width: 10px;
  padding: 2px;
}

.friends-list-master div {
  // border: 1px solid black;
}

.fl-accept-button {
  padding-left: 5px;
  padding-right: 5px;
}

.fl-accept-button small {
  // color: rgb(72, 189, 72) !important;
}

.fl-decline-button {
  padding-left: 5px;
  padding-right: 5px;
}

.fl-decline-button small {
  // color: #a33835 !important;
}

.display-mid {
  padding-top: 20px;
}

.fl-header-add-friend-button {
  background: #43b581;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--light-font);
  border-radius: 5px;
}

.fl-header-add-friend-button:hover {
  cursor: pointer;
}

.add-friend-selected {
  background: #39524c;
  color: #43b57c;
}

.fl-add-friend-button {
  display: flex;
  align-items: center;
}

.friends-list-header-master {
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--medium-font);
}

.fl-header-component:hover {
  background: rgba(var(--quaternary-background-color-rgb), 0.4);
  border-radius: 10px;
  cursor: pointer;
}

.fl-header-component {
  display: flex;
  align-items: center;
}

.fl-header-component-hoverless {
  display: flex;
  align-items: center;
}

.fl-header-component-hoverless:hover {
  cursor: pointer;
}

.friend-on-list {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  height: 67px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.friend-on-list small {
  font-weight: 600;
  color: var(--medium-font);
}

.friend-on-list:hover {
  background: rgba(var(--quaternary-background-color-rgb), 0.4);
  border-radius: 10px;
  cursor: pointer;
}

.fl-body-master-flex {
  display: flex;
  justify-content: center;
}

.fl-user-avatar {
  width: 38px;
  background: var(--background-color);
  border-radius: 25px;
}

.friends-list-body-master {
  width: 95%;
}

.fl-header-selected {
  background: var(--quaternary-background-color);
  border-radius: 10px;
}



.fl-header-left {
  display: flex;
  height: 26px;
}

.friends-list-columns-master {
  display: flex;
  align-items: flex-end;
  width: 95%;
  padding-bottom: 10px;
  height: 47px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.friends-list-columns-master small {
  font-weight: 600;
  color: var(--medium-font);
}

.friends-list-name-header {
  margin-left: 20px;
  // height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
}

.friends-list-status-header {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

}

.friend-on-list:hover .fl-remove-button {
  display: block;
}

.fl-remove-button {
  display: none;
  width: 24px;
}

.user-status-icon {
  width: 20px;
}

.friends-list-status-header-buttons {
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.friends-list-mutual-servers-header {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;

}

.fl-header-friends-logo {
  display: flex;
}

.disabled {
  color: var(--medium-font);
  text-decoration: line-through;
}

.small-bottom-border {
  // border-bottom-width: 50% !important;
  border-bottom-color: rgba(var(--quaternary-background-color-rgb), 1) !important;
}

.fl-header-right {
  display: flex;

}