

.server-bar-logo {
  // margin-top: 30px;
}

.server-bar-icon {
  background: var(--tertiary-background-color);
  height: 52px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 25px;
  transition: 0.2s;

  cursor: pointer;
}

.server-bar-icon:hover {
  background: var(--secondary-color);
  border-radius: 15px;
  transition: 0.2s;
}

.fl-server-bar-icon {
  background: var(--tertiary-background-color);
  padding: 10px;
  border-radius: 25px;
  transition: 0.2s;

  cursor: pointer;

  display: flex;
  align-items: center;
  margin-right: 10px;
}

.fl-server-bar-icon:hover {
  background: var(--secondary-color);
  border-radius: 15px;
  transition: 0.2s;
}

.server-bar-icon:hover::before {
  position: absolute;
  background: var(--light-font);
  left: -5px;
  margin-top: 4px;
  height: 24px;
  width: 10px;

  border-radius: 20px;
  content: "";
}

.server-selected {
  background: var(--secondary-color);
  border-radius: 15px;
}

.server-selected::before {
  position: absolute;
  background: var(--light-font);
  left: -5px;
  margin-top: 0px;
  height: 32px;
  width: 10px;

  border-radius: 20px;
  content: "";
}

.server-selected:hover::before {
  margin-top: 0px;
  height: 32px;
}

.server-bar-hr {
  border-color: rgba(0,0,0, 0.6);
  border-width: 2px;
}

.server-bar-master {
  background: var(--background-color);
  width: 80px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;
  max-height: calc(100vh);
}

.home-page-master {
  display: flex;
  height: 100vh;
  margin: auto;
}

// .home-page-master div {
//   border: 1px solid black;
//   margin: 2px;
// }