// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo-font {
  font-family: 'Girassol', cursive;
}

:root {
  --primary-color: #a5ebf7;
  --secondary-color: #1e72a1;
  --warning-color: #f1bf6a;
  --background-color: #445761;
  --secondary-background-color: #526975;
  --tertiary-background-color: #5F7987;
  --quaternary-background-color: #6F8D9E;

  --tertiary-background-color-rgb: 95, 121, 135;
  --quaternary-background-color-rgb: 111, 141, 158;

  --dark-font: #113a56;
  --medium-font: #b6b6b6;
  --light-font: whitesmoke;
}

.hidden {
  display: none;
}