// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= depend_on_asset "discord.png"
//= depend_on_asset "background.jpg"

.session-form-landing {
  background: var(--background-color);

  border-radius: 5px;

  // width: 100px;

  margin-top:150px;
  padding-top:37px;
  margin-bottom:auto;
  padding-bottom:30px;
  padding-left:37px;
  padding-right:37px;

  

  box-shadow: 0px 0px 7px;
}

.logo-text {
  text-shadow: 2px 2px 2px #222;
}

@media only screen and (max-width: 991px) {
  .session-form-landing {
    margin-top: 0px !important;
    margin-left: 70px;
    margin-right: 70px;
  }

  .session-form-qr-code-control {
    display: none;
  }

  .session-form-logo {
    position: relative;
    left: -50px;
  }

}

// @media only screen and (max-width: 991px) {
//   .session-form-landing {
//     margin-left: 100px;
//     margin-right: 100px;
//   }
// }

.logo-sizer {
  height: 32px;
  // box-shadow: 0px 0px 7px;
}

.fl-logo-sizer {
  height: 32px;
  // box-shadow: 0px 0px 7px;
}

.logo-sizer-full {
  height: 52px;
  // box-shadow: 0px 0px 7px;
}

.shadowed {
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

div {
  // border: 1px solid black;
}

.session-form-logo {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-left: 100px;
  font-size: 24px;
  color: var(--light-font);
}

.session-form-landing a {
  color: var(--primary-color);
}

.session-form-errors {

}

.session-form-errors ul {
  list-style: none;
}

.session-form-errors small {
  color: var(--warning-color) !important;
}

.session-form-landing a:hover {
  color: var(--primary-color);
}

.session-form-landing small {
  color: var(--medium-font);
  font-weight: 500;
  padding-bottom: 15px;
}

.session-form-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.session-form-input {
  background: #2b373d;
  border: 1.5px solid rgba(0,0,0,0.2);
  width: 100%;
  flex-grow: 1;
  margin-top:7px;
  margin-bottom:7px;
  border-radius: 3px;
  height:2.5rem;

  caret-color: var(--light-font);
  color: var(--light-font);

  padding-left: 7px;
}

.session-form-input:hover {
  border: 1.5px solid #000000;
}

.session-form-input:focus {
  border: 1px solid var(--primary-color);
}

.session-form-button {
  background: var(--primary-color);
  border-radius: 3px;
  border: none;
  color: var(--dark-font);
  width: 100%;
  height: 2.5rem;
  margin-bottom: 5px;
}

.not-a-link {
  background: rgba(0,0,0,0);
  border: none;
  color: var(--light-color)
}

.not-a-link:focus {
  outline: none;
}

// .not-a-link:hover {
//   color: var(--light-font);
//   text-decoration: none;
// }

.session-form-button:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.session-form-disclaimer {
  margin-top: 10px;
}

.session-form-disclaimer small {
  color: var(--medium-font);
  font-size: 10px;
}

.input-flex-grow {
  display: flex;
}

.registration-header {
  font-size: 25px;
  color: var(--light-font);
  font-weight: 300;
}

.session-form-forgot-password {
  top: -13px;
  position: relative;
}

.session-form-forgot-password small {
  color: var(--primary-color);
}

.login-smaller-header {
  font-size: 20px;
  font-weight: 400;
  color: var(--medium-font);
}

.vl {
  border-left: 2px solid rgba(0,0,0,0.1);
  height: 100%;
  float:left;
}

.session-form-background {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(asset_path('background.jpg')); 
  background-position: left 0px bottom 0px;
  margin: auto;
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat;

  margin-left: 0px !important;
}

.session-form-qr-code-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.session-form-qr-code-text {

}

.session-form-qr-code-col {
  height: 100%;
  margin: auto;
  
}

.session-form-qr-code-text h3 {
  font-weight: 300;
  color: var(--light-font);
}

.session-form-qr-code-text small {
  color: var(--medium-font);
}


.session-form-qr-code {
  width: 180px;
  height: 180px;
  background: white;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-image: url(asset_path('discord.png'));
  background-size: 100%;
}